html { 
    background: url(./images/baking-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #F0FFF0;
    text-align: left;
    font-family: 'Times New Roman', Georgia, Garamond;
    font-size: 20px;
}

.recipes{
    background: url(./images/texture.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

.bodyre ul,
ol{
    text-align: left;
}

a:link {
    color: rgb(221,160,221);
  }
  
a:visited {
    color: rgb(150, 53, 150);
  }

a:hover{
    color: rgb(218,112,214);
}
  
a:active {
    color: rgb(255,0,255);
}

@media (orientation: landscape){
    body{
        margin: 80px;
        margin-left: 40%;
        padding: 20px;
    }
    
    .bodyre{
        margin: 80px;
        padding: 20px; 
    }

    .bodyre ul{
        transform: translate(35%, 0%);
    }
}

@media (orientation: portrait){
    body{
        margin: 50px;
        margin-left: 40%;
        padding: 10px;
    }

    .bodyre{
        margin: 35px;
        padding: 15px;
    }

    .bodyre ul{
        transform: translate(20%, 0%);
    }

    img{
        height: auto;
        width:80%
    }
}